/* ============= ALL ============= */

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
p,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: #001821;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

.btn {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.menu__item,
.contacts__schedule,
.btn_bg_red,
.offers__btn,
.paginator__item {
    transition: all 0.3s ease;
}

.btn_bg_red {
    color: #fff;
    background-color: #f5170e;
}

.btn_bg_red:hover {
    background-color: #da0100;
}

/* =========== /ALL ============= */

/* =========== HERO ============= */

.header {
    padding: 30px 0;
    position: relative;
    margin-bottom: 115px;
}

.logo,
.menu,
.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 100px;
    margin-right: 60px;
}

.menu__item {
    margin-right: 50px;
    font-size: 14px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item:hover {
    color: #f5170e;
}

.contacts {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: right;
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__schedule {
    font-size: 13px;
    color: #bfc3c3;
    text-decoration: underline;
}

.contacts__schedule:hover {
    color: #fff;
    cursor: pointer;
}

.site__title {
    width: 510px;
    margin-bottom: 25px;
    line-height: 1.22em;
}

.site__subtitle {
    font-size: 18px;
    margin-bottom: 33px;
}

.hero__content {
    margin-bottom: 246px;
}

/* =========== /HERO ============= */

/* =========== SECTION ============= */

.section {
    margin-bottom: 140px;
}

.section__title {
    margin-bottom: 47px;
}

.section__title_add_icon:after {
    content: '';
    display: inline-block;
    width: 21px;
    min-height: 28px;
    margin-left: 9px;
    background: url("../img/icons/flame.png") center center / cover no-repeat;
}

/* =========== /SECTION ==============*/

/* =========== OFFERS ============== */

.offers__title {
    margin-bottom: 17px;
}

.offers__item {
    position: relative;
    width: 360px;
    min-height: 440px;
    display: inline-block;
    background-color: #303030;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__bg {
    position: absolute;
    display: block;
    bottom: 200px;
    object-fit: cover;
    margin-bottom: 30px;
    opacity: .5;
}

.offers__info {
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 22px;
}

.specific__list {
    margin-left: 7px;
    margin-bottom: 25px;
}

.specific__item, .specific__icon, .specific__descript {
    display: inline-block;
    vertical-align: middle;
}

.specific__descript {
    margin-left: 2px;
}

.specific__item {
    color: #666;
    margin-right: 30px;
}

.specific__item:last-child {
    margin-right: 0;
}

.offers__text {
    font-size: 14px;
    color: #303030;
    margin-bottom: 25px;
}

.offers__btn {
    border: 1px solid rgba(244, 23, 14, .4);
    color: #f53530;
    padding: 15px 28px;
}

.offers__btn:hover {
    border-color: #f5170e;
    background-color: #f5170e;
    color: #fff;
}

/* =========== / OFFERS ============= */

/* =========== NEWS =============== */

.news {
    margin-bottom: 45px;
}

.news__item {
    display: inline-block;
    position: relative;
    width: 555px;
    min-height: 390px; 
    overflow: hidden;
    border-radius: 5px;
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__bg {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.news__descript {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 168px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 12px;
}

.news__title {
    margin-bottom: 3px;
}

.paginator {
    text-align: center;
}

.paginator__display, .paginator__list, .paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__list {
    margin-left: 25px;
}

.paginator__item {
    color: #f4160e;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border-radius: 50%;
}

.paginator__link {
    display: inline-block;
    width: 32px;
    line-height: 32px;
}

.paginator__item_active, .paginator__item:hover {
    background-color: #fff;
}

/* ============= / NEWS ============== */

/* ============= ABOUT ============== */

.about {
    margin-bottom: 45px;
    min-height: 565px;
}

.about__wrap {
    position: relative;
}

.about__photo {
    width: 490px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.about__info {
    width: 780px;
    min-height: 453px;
    position: absolute;
    top: 110px;
    right: 0;
    overflow: hidden;
    border-radius: 5px;
}

.about__bg {
    position: absolute;
    height: 155%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: -154px -79px;
}

.about__text {
    position: absolute;
    padding: 65px 97px;
    color: #000;
}

.about__title {
    margin-bottom: 28px;
}

.about__descript {
    color: #303030;
    line-height: 1.7em;
    margin-bottom: 40px;
}

/* ============= / ABOUT ============== */

/* ============= FOOTER ============== */

.footer {
    padding-bottom: 30px;
    position: relative;
}

.footer::before {
    content: "";
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 1140px;
    background-color: #1a3038;
    margin-bottom: 30px;
}

.contacts__subscript {
    font-size: 11px;
    color: #9a9a9a;
}

.social {
    position: absolute;
    right: 265px;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
}

.social__item {
    display: inline-block;
    font-size: 36px;
    margin-right: 5px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    width: 36px;
    height: 36px;
}

.social__link-telegram {
    background: url(../img/icons/socials/telegram.png);
}

.social__link-vk {
    background: url(../img/icons/socials/vkontakte.png);
}


.social__link-face {
    background: url(../img/icons/socials/facebook.png);
}


.social__link-inst {
    background: url(../img/icons/socials/instagram.png);
}

/* ============= / FOOTER ============== */